[run]
branch = True
omit = 
    tests/*
    */constants/*
    dt/typing/*
source = dt/

[report]
skip_empty = True
show_missing = True
skip_covered = True
fail_under = 80
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING: